
Options -Indexes
RewriteEngine On

RewriteCond $1 !^(index\.php|assets|js|images|img|favicon\.png|css|uploads)

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([\s\S]*)$ index.php [L,NC]
